{% extends 'layout.twig.html' %}
{% block title %}Agregar Persona{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="home">Inicio</a></li>
        <li class="active"><a href="#">Persona<span class="sr-only">(current)</span></a></li>
        <li><a href="warehouse">Warehouse</a></li>
      </ul>
    </div>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<form action="persona" method="POST">
		  <input type="hidden" class="form-control" placeholder="Nombre Persona" name="id" value="{{persona.id}}" />
		  <div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" placeholder="Firstname" name="firstName" value="{{persona.firstName}}"/>
	 	  </div>
	 	  <div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" placeholder="Lastname" name="lastName" value="{{persona.lastName}}"/>
		  </div>
		  <button type="submit" class="btn btn-default">Save</button>
		  <button type="submit" class="btn btn-default" onclick="history.back();">Cancel</button>
		</form>
	</div>
  </div>
</div>
{% endblock %}