{% extends 'layout.twig.html' %}
{% block title %}Agregar Persona{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="home">Inicio</a></li>
        <li><a href="persona">Persona</a></li>
        <li class="active"><a href="#">Warehouse<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<form action="warehouse" method="POST">
		  <input type="hidden" name="id" value="{{warehouse.id}}" />{{persona.id}}
		  <div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" placeholder="Name" name="name" value="{{warehouse.name}}" />
		  </div>
		  <div class="form-group">
			<label>Latitude</label>
			<input type="text" class="form-control" placeholder="Latitude" name="latitude" value="{{warehouse.latitude}}" />
		  </div>
		  <div class="form-group">
			<label>Longitude</label>
			<input type="text" class="form-control" placeholder="Longitude" name="longitude" value="{{warehouse.longitude}}" />
		  </div>
		  <div class="form-group">
			<label>Address</label>
			<input type="text" class="form-control" placeholder="Address" name="address" value="{{warehouse.address}}" />
		  </div>
					<!-- <tr>
						<td>Address</td>
						<td>
							<select>
							{% for persona in people%}
								<option value="{{persona.id}}">{{ persona.firstname }} {{ persona.lastname }}</option>
							{% endfor %}
							</select>
						</td>
					</tr> -->

			<button type="submit" class="btn btn-default">Save</button>
			<button type="submit" class="btn btn-default" onclick="history.back();">Cancel</button>
		</form>
	</div>
  </div>
</div>
{% endblock %}