{% extends 'layout.twig.html' %}
{% block title %}Banco{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
    
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Inicio <span class="sr-only">(current)</span></a></li>
          <li><a href="persona">Persona</a></li>
          <li><a href="warehouse">Warehouse</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Delivery Note</a></li>
        </ul>
      </div>
      
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <div class="jumbotron">
	      <h1>Trabajo Final</h1>
	      <p>Sistema administrativo de un almacén, registro de usuarios con sus respectivos almacenes, proveedores, productos.</p>
	    </div>
        
        <h2 class="page-header">Integrantes</h1>
        
        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Daniel Diaz</h4>
            <span class="text-muted">Software Developer</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Mariangela Giraldo</h4>
            <span class="text-muted">Software Developer</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Anthony Loayza</h4>
            <span class="text-muted">Software Developer</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Joseline Zevallos</h4>
            <span class="text-muted">Software Developer</span>
          </div>
        </div>
      </div>      
      
    </div>
  </div>
  
{% endblock %}
