<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="resources/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/static/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="resources/static/css/dashboard.css">
    <link rel="stylesheet" href="resources/static/css/custom.css">
  </head>
  <body cz-shortcut-listen="true">
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Almacén</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Configuración</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  {% block content %}
  {% endblock %}
  {% include 'footer.twig.html' %}
  </body>
  <script src="resources/static/js/jquery-1.11.3.min.js"></script>
  <script src="resources/static/js/bootstrap.min.js"></script>
</html>
