{% extends 'layout.twig.html' %}
{% block title %}Persona{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
    
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="home">Inicio</a></li>
        <li class="active"><a href="#">Persona<span class="sr-only">(current)</span></a></li>
        <li><a href="warehouse">Warehouse</a></li>
      </ul>
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <table class="table table-bordered table-striped">
	    <thead>
		  <tr>
		    <th>ID</th>
		    <th>Last Name</th>
		    <th>First Name</th>
		    <th>Actions</th>
		  </tr>
	    </thead>
	    <tbody>
	    {% for persona in people %}
		  <tr>
		    <td>{{ persona.id }}</td>
		    <td>{{ persona.lastName }}</td>
		    <td>{{ persona.firstName }}</td>
		    <td><a href="?id={{ persona.id }}">See</a> | <a href="add-persona?id={{persona.id }}">Modify</a> </td>
		  </tr>
	    {% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-persona">Add New Persona</a>
    </div>
    </div>
  </div>
{% endblock %}
