{% extends 'layout.twig.html' %}
{% block title %}Persona{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="home">Inicio</a></li>
        <li class="active"><a href="#">Persona<span class="sr-only">(current)</span></a></li>
        <li><a href="warehouse">Warehouse</a></li>
      </ul>
    </div>
    
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<table class="table table-bordered table-striped">
			<thead>
			</thead>
			
			<tbody>
				<tr>
					<th>ID</th>
					<td>{{ persona.id }}</td>
				</tr>
				<tr>
					<th>First Name</th>
					<td>{{ persona.firstName }}</td>
				</tr>
				<tr>
					<th>Last Name</th>
					<td>{{ persona.lastName }}</td>
				</tr>
	        </tbody>
	      </table>
	    <a href="add-persona?id={{persona.id}}">Modify</a> |<a href="add-persona">Add New Persona</a> | <a href="persona">List All</a>
	  </div>
  </div>
</div>
{% endblock %}