{% extends 'layout.twig.html' %} {% block title %}Product{% endblock %}
{% block content %} 


<div class="container"> 
<div class="row"> 
<div class="col-sm-3 col-md-2 sidebar"> 
	<ul class="nav nav-sidebar"> 
		<li><a href="/">Inicio</a></li> 
		<li class="active">
			<a href="#">Persona<span class="sr-only">(current)</span>
			</a>
		</li> 
		<li><a href="warehouse">Warehouse</a>
		</li> 
	</ul> 
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> </div>
{% endblock %}