{% extends 'layout.twig.html' %}
{% block title %}Warehouse{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
    
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="home">Inicio</a></li>
        <li><a href="persona">Persona</a></li>
        <li class="active"><a href="#">Warehouse <span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <table class="table table-bordered table-striped">
	    <thead>
		  <tr>
		    <th>ID</th>
		    <th>Name</th>
		    <th>Latitude</th>
		    <th>Longitude</th>
		    <th>Actions</th>
		  </tr>
	    </thead>
	    <tbody>
	    {% for warehouse in warehouses %}
		  <tr>
		    <td>{{ warehouse.id }}</td>
		    <td>{{ warehouse.name }}</td>
		    <td>{{ warehouse.latitude }}</td>
		    <td>{{ warehouse.address }}</td>
		    <td><a href="?id={{ warehouse.id }}">See</a> | <a href="add-warehouse?id={{warehouse.id }}">Modify</a> </td>
		  </tr>
	    {% endfor %}
        </tbody>
      </table>
      <br />
      <a href="add-warehouse">Add New Warehouse</a>
    </div>
    </div>
  </div>
{% endblock %}
